<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue品牌列表案例</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/vue.js"></script>
</head>
<body>
    <div id="app">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">添加品牌</h3>
            </div>
            <div class="panel-body form-inline">
                <label>
                    ID:
                    <input type="text" class="form-control" v-model="id">
                </label>
                <label>
                    Name:
                    <input type="text" class="form-control" v-model="name" v-on:keyup.enter="add">
                </label>
                <!-- 在Vue中，使用事件绑定机制，为元素指定处理函数的时候，如果加了小括号，就可以给函数传参了 -->
                <input type="button" value="添加" class="btn btn-primary" @click="add()">
                <label>
                    搜索名称关键字：
                    <input type="text" class="form-control" v-model="keywords" v-focus>
                </label>
            </div>
        </div>
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Ctime</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <!-- 之前， v-for 中的数据，都是直接从 data 上的list中直接渲染过来的 -->
                <!-- 现在， 我们自定义了一个 search 方法，同时，把 所有的关键字，通过传参的形式，传递给了 search 方法 -->
                <!-- 在 search 方法内部，通过 执行 for 循环， 把所有符合 搜索关键字的数据，保存到 一个新数组中，返回 -->
                <tr v-for="item in search(keywords)" :key="item.id">
                    <td>{{ item.id }}</td>
                    <td v-text="item.name"></td>
                    <td>{{ item.ctime | dateFormat }}</td>
                    <td>
                        <a href="" @click.prevent="del(item.id)">删除</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
<script>
    Vue.directive('focus',{
        bind:function (el){
            //当自定义的指令绑定到元素的时候，执行bind函数，而且只执行一次，相当于初始化
            //el元素，此阶段为绑定阶段，还没有将元素插入DOM中
           
        },
        inserted:function(el){
            //插入到DOM的时候，执行此函数，执行一次
            el.focus();//获取焦点的方法必须在元素已经插入到DOM中后才可执行,因此此方法要放在音色特点阶段，而不是bind阶段
        },
        update:function(){
            //更新时执行此函数，可执行多次
        }
    });

    //全局的过滤器，进行时间的格式化
    Vue.filter('dateFormat',function (dateStr) {
        //根据给定的时间字符串，得到特定的时间
        var dt = new Date(dateStr);
        var y = dt.getFullYear();
        var m = dt.getMonth()+1;
        var d = dt.getDate();
        var hh = dt.getHours();
        var mm = dt.getMinutes();
        var ss = dt.getSeconds();
        return `${y}-${m}-${d} ${hh}:${mm}:${ss}`;
        //vue 有一种拼接字符串的规范写法
        //键盘 Tab 键 上边的键  英文输入状态  然后采用类似EL表达式${变量}
        //return `${}:${}:${}`

    });
    var vm = new Vue({
        el:'#app',
        data:{
            id:'',
            name:'',
            keywords:'',//搜索的关键字
            list:[
                {id:1,name:'宝马',ctime:new Date()},
                {id:2,name:'奔驰',ctime:new Date()},
                {id:3,name:'宝骏',ctime:new Date()},
            ]
        },
        methods:{
            //添加的方法
            add(){
                var car = {id:this.id,name:this.name,ctime:new Date()};
                this.list.push(car);
                this.id = this.name = '';//清空输入框
            },
            //根据id删除的方法
            del(id){
                var index = this.list.findIndex(item => {
                    if(item.id == id){
                        return true;
                    }
                });
                this.list.splice(index,1);
            },
            //根据关键字搜索
            search(keywords){
                return this.list.filter(item => {
                    if(item.name.includes(keywords)){
                        return item;
                    }
                });
            }
        }
    });

//自定义

</script>
</html>