<html>

        <head>
            <title>vue在线计算器</title>
        </head>
        
        <body>
            <div id="app">
                <input type="text" v-model="n1">
                <select v-model="opt">
                    <option value="+">+</option>
                    <option value="-">-</option>
                    <option value="*">*</option>
                    <option value="/">÷</option>
                </select>
                <input type="text" v-model="n2">
                <input type="button" value="=" v-on:click="getResult">
                <input type="text" v-model="result">
                <p>{{n1}} {{opt}}{{n2}}={{result}}</p>
            </div>
           
        </body>
        <script src="js/vue.js"></script>
        <script>
            //创建vue实例   MVVM：VM
            var vm = new Vue({
                el: '#app',
                data: {
                    n1: 0,
                    n2: 0,
                    result: 0,
                    opt: '+'
                },
                methods: {
                    getResult() {
                        switch (this.opt) {
                            case '+':
                                this.result = parseInt(this.n1) + parseInt(this.n2);
                                break;
                            case '-':
                                this.result = parseInt(this.n1) - parseInt(this.n2);
                                break;
                            case '*':
                                this.result = parseInt(this.n1) * parseInt(this.n2);
                                break;
                            case '/':
                                this.result = parseInt(this.n1) / parseInt(this.n2);
                                break;
                        }
                    }
                }
            })
        </script>